.accordion-control {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
  background-color: #ef2b47;
  color: #f7f5f5;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 18px;
  outline: none;
  position: relative;
}

.li {
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

.accordion-control:hover {
  background-color: #fab328;
}

.portfolio-hover {
  position: absolute;
  left: 40px;
  top: 10px;
  z-index: -1;
}

.img-fluid under {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

@media (min-width: 1200px) {
  .text-center {
    text-align: left!important;
  }
}

.text-justify {
  text-align: left!important;
}

.flex-shrink-1 {
  will-change: transform;
  transform: perspective(300px) rotateX(3.5deg) rotateY(0.61deg) scale3d(1, 1, 1);
}

